@import "../../styles/variables";
@import "../../styles/mixins";

.destination {
  min-height: 100vh;
  width: 100%;
  background-image: url("../../assets/destination/background-destination-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 32px;
  padding: 5rem 2rem;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
  }

  &__image {
    img {
      width: 170px;
      height: 170px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
  }

  &__tabs {
    display: inline-flex;
    column-gap: 1.6rem;
    color: $secondaryColor;
    font-family: $fontBarlow;
  }

  &__tab-item {
    letter-spacing: 2.4px;
    cursor: pointer;
    transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;

    &:hover,
    &:focus,
    &:active {
      color: $primaryColor;
    }

    &::before {
      content: "";
      display: block;
      position: relative;
      bottom: -30px;
      left: 0;
      height: 3px;
      background-color: $primaryColor;
      transform-origin: right top;
      transform: scale(0, 1);
      transition: color 0.1s, transform 0.2s ease-out;
    }

    &:active::before {
      background-color: $primaryColor;
    }
    &:hover::before,
    &:focus::before {
      transform-origin: left top;
      transform: scale(1, 1);
    }
  }

  &__tab-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__name {
    color: $primaryColor;
    font-family: $fontBellefair;
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: 400;
  }

  &__desc {
    color: $secondaryColor;
    max-width: 327px;
    min-width: 100%;
    line-height: 25px;
    text-align: center;
  }

  &__line {
    height: 1px;
    max-width: 80vw;
    min-width: 100%;
    border: 1px solid hsla(0, 0%, 100%, 0.1);
    margin: 2rem 0;
  }

  &__dist-time-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }

  &__distance,
  &__travel-time {
    display: flex;
    flex-direction: column;
    width: 200px;
    // min-width: 100%;
    align-items: center;
    row-gap: 12px;
    h3 {
      text-transform: uppercase;
      color: $secondaryColor;
      letter-spacing: 2.4px;
      font-family: $fontBarlow;
      font-weight: 400;
      font-size: 14px;
    }

    h2 {
      color: $primaryColor;
      font-size: 28px;
      letter-spacing: 3.2x;
      font-family: $fontBellefair;
      text-transform: uppercase;
      font-weight: 400;
    }
  }

  @include mdMinBreakPoint {
    background-image: url("../../assets/destination/background-destination-tablet.jpg");

    row-gap: 60px;
    padding-top: 8rem;

    &__image {
      img {
        width: 300px;
        height: 300px;
      }
    }

    &__content {
      row-gap: 24px;
    }

    &__tabs {
      column-gap: 3.2rem;
    }

    &__name {
      font-size: 5rem;
    }

    &__desc {
      color: $secondaryColor;
      max-width: 573px;
      line-height: 28px;
    }

    &__line {
      margin: 2.5rem 0;
    }

    &__dist-time-wrapper {
      flex-direction: row;
      column-gap: 6rem;
    }
  }

  @include lgMinBreakPoint {
    background-image: url("../../assets/destination/background-destination-desktop.jpg");

    row-gap: 97px;

    &__image {
      img {
        width: 445px;
        height: 445px;
      }
    }

    &__wrapper {
      flex-direction: row;
      justify-content: space-evenly;
      align-items: flex-start;
    }

    &__content {
      align-items: flex-start;
    }

    &__tab-content {
      align-items: flex-start;
    }

    &__name {
      align-self: flex-start;
      font-size: 100px;
    }

    &__desc {
      text-align: left;
      font-size: 1.2rem;
      line-height: 2rem;
    }

    &__distance,
    &__travel-time {
      align-items: flex-start;
    }
  }
}
