@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600;700&family=Bellefair&display=swap");

// Colors
$primaryColor: #ffffff;
$secondaryColor: #d0d6f9;
$blackColor: #0b0d17;

// Fonts
$fontBellefair: "Bellefair", serif;
$fontBarlow: "Barlow Condensed", sans-serif;

// Screen sizes
$screen-md: 768px;
$screen-lg: 1440px;
