@import "./styles/variables";
@import "./styles/mixins";

.page__title {
  font-family: $fontBarlow;
  color: $primaryColor;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 80%;

  span {
    font-weight: bold;
    color: hsla(0, 0%, 100%, 0.2);
    margin-right: 0.5rem;
  }

  @include mdMinBreakPoint {
    justify-content: flex-start;
  }
  @include lgMinBreakPoint {
    font-size: 34px;
    position: relative;
    top: 5rem;
    span {
      margin-right: 2rem;
    }
  }
}
