@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600;700&family=Bellefair&display=swap");

:root {
  --font-base: "Bellefair", serif;
  --font-subheading: "Barlow Condensed", sans-serif;

  --primary-color: #ffffff;
  --secondary-color: #d0d6f9;
  --black-color: #0b0d17;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
